.container{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(to bottom, var(--dark), var(--dark-green));
    position: relative;
    overflow: hidden;
    color: var(--text);
}