@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;800&display=swap');

:root {
    --dark: #000004;
    --dark-green: #0C6291;
    --text: #FBFEF9;
    --accent: #0C6291;
    --accent2: #0C6291;
  }

*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}